<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Todos os Animes - OtakuList</title>
    <link rel="stylesheet" href="/static/style.css">
</head>
<body>
<nav>
    <ul>
        <li><a href="{{ url_for('homepage') }}">Início</a></li>
        <li><a href="{{ url_for('all_animes') }}">Animes</a></li>
        <li><a href="{{ url_for('my_list') }}">Minha Lista</a></li>

        {% if usuario %}
            <li><a href="{{ url_for('profile') }}">Perfil</a></li>
            <li><a href="{{ url_for('logout') }}">Sair</a></li>
        {% else %}
            <li><a href="{{ url_for('login_page') }}">Entrar</a></li>
            <li><a href="{{ url_for('cadastro_page') }}">Cadastrar</a></li>
        {% endif %}
    </ul>
</nav>


<h1>Todos os Animes</h1>

<input 
    type="text" 
    id="searchBar" 
    placeholder="Pesquisar anime..."
    style="padding: 10px; width: 60%; max-width: 400px; margin: 15px 0; font-size: 16px;">
<br>

<ul id="animeList">
    {% for anime in animes %}
    <li class="anime-item">
        <img src="{{ anime.coverImage.large }}" width="150" 
             alt="{{ anime.title.romaji or anime.title.english or anime.title.native }}">
        
        <h3 class="anime-title">
            {{ anime.title.romaji or anime.title.english or anime.title.native }}
        </h3>

        <button 
            class="add-btn"
            data-id="{{ anime.id }}" 
            data-title="{{ anime.title.romaji or anime.title.english or anime.title.native }}" 
            data-cover="{{ anime.coverImage.large }}"
            onclick="addToListFromButton(this)">
            Adicionar
        </button>
    </li>
    {% endfor %}
</ul>

<script src="/static/app.js"></script>
<script src="/static/search.js"></script>

</body>
</html>