<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Cadastrar - OtakuList</title>
    <link rel="stylesheet" href="/static/style.css">
</head>
<body>

<nav>
    <ul>
        <li><a href="{{ url_for('homepage') }}">Início</a></li>
        <li><a href="{{ url_for('all_animes') }}">Animes</a></li>
        <li><a href="{{ url_for('my_list') }}">Minha Lista</a></li>

        {% if usuario %}
            <li><a href="{{ url_for('profile') }}">Perfil</a></li>
            <li><a href="{{ url_for('logout') }}">Sair</a></li>
        {% else %}
            <li><a href="{{ url_for('login_page') }}">Entrar</a></li>
            <li><a href="{{ url_for('cadastro_page') }}">Cadastrar</a></li>
        {% endif %}
    </ul>
</nav>


<h1>Criar Conta</h1>

<div class="form-container">
    <form id="cadastroForm">

        <label>Nome</label>
        <input type="text" id="nome" name="nome" required> <label>Usuário</label>
        <input type="text" id="username" name="username" required> 

        <label>Email</label>
        <input type="email" id="email" name="email" required> <label>Senha</label>
        <input type="password" id="senha" name="senha" required> <button type="submit">Cadastrar</button>
    </form>

    <p id="cadastro-erro" class="error"></p>
</div>

<script src="/static/cadastro.js"></script>
<script src="/static/nav.js"></script>

</body>
</html>
