<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>OtakuList</title>
    <link rel="stylesheet" href="/static/style.css">
<style>
    
</style>
</head>
<body>
<nav>
    <ul>
        <li><a href="{{ url_for('homepage') }}">Início</a></li>
        <li><a href="{{ url_for('all_animes') }}">Animes</a></li>
        <li><a href="{{ url_for('my_list') }}">Minha Lista</a></li>

        {% if usuario %}
            <li><a href="{{ url_for('profile') }}">Perfil</a></li>
            <li><a href="{{ url_for('logout') }}">Sair</a></li>
        {% else %}
            <li><a href="{{ url_for('login_page') }}">Entrar</a></li>
            <li><a href="{{ url_for('cadastro_page') }}">Cadastrar</a></li>
        {% endif %}
    </ul>
</nav>


<section style="text-align:center; display:flex; flex-direction:column; justify-content:center; align-items:center; width:100%; padding-left:0 !important;"">
    <h1>Acompanhe seus animes favoritos!</h1>
    <p>Descubra, organize e salve os que você quer assistir.</p>
    
</section>

<h2>Populares</h2>
<ul>
    {% for anime in populares %}
    <li>
        <img src="{{ anime.coverImage.large }}" width="150">
        <p>{{ anime.title.romaji or anime.title.english or anime.title.native }}</p>
        <button class="add-btn" 
            data-id="{{ anime.id }}" 
            data-title="{{ anime.title.romaji or anime.title.english or anime.title.native }}" 
            data-cover="{{ anime.coverImage.large }}"
            onclick="addToListFromButton(this)"><span class="plus-icon">+</span> Adicionar</button>
    </li>
    {% endfor %}
</ul>

<h2>Tendência</h2>
<ul>
    {% for anime in trends %}
    <li>
        <img src="{{ anime.coverImage.large }}" width="150">
        <p>{{ anime.title.romaji or anime.title.english or anime.title.native }}</p>
        <button class="add-btn" 
            data-id="{{ anime.id }}" 
            data-title="{{ anime.title.romaji or anime.title.english or anime.title.native }}" 
            data-cover="{{ anime.coverImage.large }}"
            onclick="addToListFromButton(this)"><span class="plus-icon">+</span> Adicionar</button>
    </li>
    {% endfor %}
</ul>

<h2>Populares da Temporada</h2>
<ul>
    {% for anime in temporada %}
    <li>
        <img src="{{ anime.coverImage.large }}" width="150">
        <p>{{ anime.title.romaji or anime.title.english or anime.title.native }}</p>
        <button class="add-btn" 
            data-id="{{ anime.id }}" 
            data-title="{{ anime.title.romaji or anime.title.english or anime.title.native }}" 
            data-cover="{{ anime.coverImage.large }}"
            onclick="addToListFromButton(this)"><span class="plus-icon">+</span> Adicionar</button>
    </li>
    {% endfor %}
</ul>

<script src="/static/app.js"></script>
</body>
</html>

